
<h1>Edit User</h1>
 
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    <%= f.submit "Update User", class: "btn btn-primary" %>
  </div>
</div>
 
<% end %>

<%= link_to 'Back to main menu', users_path %>
