<% provide(:title, "New User Page") %>

<h1>Add New User</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
 
      <%= f.label :email %><br>
      <%= f.text_field :email, class: 'form-control' %>
    
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %>

   
      <%= f.submit "Create New User", class: "btn btn-lg btn-primary"%>
  </div>
</div>
<% end %>

<%= link_to 'Back to main menu', users_path %>
